@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);
@import url(/styles/flashcard.css);

:root {
    --cor-principal: #000000;
    --cor-5: #303030;
    --cor-3: #5e5e5e;
    --cor-4: #919191;
    --cor-secundaria: #c6c6c6;
    --cor-branco: #ffffff;
}
